<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-50">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">

    <title>Overview</title>
</head>
<body class="h-full overflow-hidden">

    {% include 'partials/sidebar.j2' %}

    <!-- Content area -->
    <div class="flex-1 flex flex-col overflow-hidden">
        {% include 'partials/header.j2' %}

      <!-- Main content -->
      <div class="flex-1 flex items-stretch overflow-hidden">
        <main class="flex-1 overflow-y-auto">
          <!-- Primary column -->
          <section aria-labelledby="primary-heading" class="min-w-0 flex-1 h-full flex flex-col lg:order-last">
            <h1 id="primary-heading" class="sr-only">Photos</h1>
            <!-- Your content -->
          </section>
        </main>

        <!-- Secondary column (hidden on smaller screens) -->
        <aside class="hidden w-96 bg-white border-l border-gray-200 overflow-y-auto lg:block">
          <!-- Your content -->
        </aside>
      </div>
    </div>
  </div>

</body>
</html>
